body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fffeea; /* Fondo general de la página */
}

.header, .footer {
    width: 100%; /* Asegura que ocupen todo el ancho */
    background-color: #fcddc8; /* Color de fondo del header */
    color: white;
    padding: 20px 15px; /* Padding interno para el texto dentro del header/footer */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra para dar efecto elevado */
}

.footer {
    background-color: #efcaba; /* Color de fondo del footer */
    position: fixed;
    bottom: 0;
}

.button {
    background-color: #817a8a; /* Color de los botones */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
}

#showBtn {
    background-color: #cdbbbb; /* Color del botón Mostrar */
}

img.img-thumbnail {
    margin-top: 20px; /* Margen superior para la imagen */
}
